<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
</head>
<body>
    <h1>List of Flights</h1>
    <a href="/">HOME</a>
      |    
    <a href="/flights/new">ADD FLIGHT</a>
    <br>
      <% allFlights.forEach(function(f){%>
        <tr>
            <br>
            <td>Airline: <%= f.airline %></td><br>
            <td>Airport: <%= f.airport %></td><br>
            <td>Flight Number: <%= f.flightNo %></td><br>
            <td>Departs: <%= f.departs %></td><br>
            <td><a href="/flights/<%= f._id %>">DETAILS</a></td><br>
        </tr>
        <% }); %>
</body>
</html>