<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
</head>
<body>
    <h1>Flight Details</h1>
    <a href="/">HOME</a>
    |    
    <a href="/flights">ALL FLIGHTS</a>

    <br>
      <tr>
          <br>
          <td>Airline: <%= flight.airline %></td><br>
          <td>Airport: <%= flight.airport %></td><br>
          <td>Flight Number: <%= flight.flightNo %></td><br>
          <td>Departs: <%= flight.departs %></td><br>
      </tr>
    <h3>Add a Destination</h3>
    <form action="/flights/<%= flight._id %>/destinations" method="POST">
        <label for="airport">Select Airport</label>
        <select name="airport" id="airport">Airport
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <br>
		<label for="arrival">Arrival</label>
        <input type="datetime-local" id="arrival" name="arrival">
        <br>
        <button type="submit">Add Destination</button>
        <br>
    </form>

    <% if (flight.destinations.length) { %>
        <br>
		<table>
			<thead>
			  <tr>
				<th>Airport</th>
				<th>Arrival Time</th>
			  </tr>
			</thead>
			<tbody>
			  <% flight.destinations.forEach(function(d) { %>
				<tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
				</tr>
			  <% }); %>
			</tbody>
		  </table>
		  
	<% } else {%>

		<h2>No reviews yet!</h2>
	<% } %>

</body>
</html>