<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
</head>
<body>
    <h2>Flight Details</h2>

    <br>
      <tr>
          <br>
          <td>Airline: <%= flight.airline %></td><br>
          <td>Airport: <%= flight.airport %></td><br>
          <td>Flight Number: <%= flight.flightNo %></td><br>
          <td>Departs: <%= flight.departs %></td><br>
      </tr>
    <h4>Add a Destination</h4>
    <form action="/flights/<%= flight._id %>/destinations" method="POST">
        <label for="airport">Select Airport</label>
        <select name="airport" id="airport">Airport
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <br>
		<label for="arrival">Arrival</label>
        <input type="datetime-local" id="arrival" name="arrival">
        <br>
        <button type="submit">Add Destination</button>
    </form>
</body>
</html>